* {
  scroll-behavior: smooth;
}

.parent {
    
    white-space: nowrap; 

}
.child  {

    display: inline-block;

}



@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	/*background: #222;*/
  background: #F5F5F4;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.navcontainer {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #F5F5F4;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

.name {
  margin-left: auto;
  margin-right: auto;
  width: 8em

}

.projects-title {
  text-align: center;
  font-size: 60px;
}

/*project section */



.band {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;

  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;

  }
  .item-1 h1 {
    font-size: 30px;
  }

  .item-5 {
      grid-column: 2/ span 2;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: rgb(255,255,255);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.card .thumb {
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  max-height: 390px;
}


.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /* padding-top: 2%; */
  padding-bottom: 1%;
}

.title-art {
  text-align: left;
  font-weight: 400;
  font-size: 40px;
  display: none;
  height: 65%;
  width: 65%;
  margin: 0;
  padding-top: 5%;
}

.description {
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 0;
  text-align: center;
  /*
  display: inline-block;
  height: 65%;
  width: 65%;
  margin: 0;
  */
}

section {
  padding-bottom: 5%;
}

/*footer*/

footer {
  height: 6em;
  text-align: center;
  background-color: rbg(244,238,224);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 2%;
}

.footer-row {
  padding: 6px;
  margin: 6px;
}

.footer-row a {
  text-decoration: none;
  color: black;
}

.footer-row a:hover {
  color: lightgray;
}

.copy-rights {
  font-size: 15px;
  color: rgb(158, 155, 155, 0.7);
}

.dotted-border {
  border-style: dashed;
  border-color: #999;
  width: 800px;
  height: 400px;
  text-align: left;
  display: inline-block;
  vertical-align:middle
}

.contact-p li {
  padding: 30px;
  font-weight: 700;
  font-size: 20px;
  
}

.contact-p li a {
  text-decoration: none;
  color: black;
}

.contact-box {
  padding: 30px;
}

.about-me {
  font-weight: 300;
  font-size: 30px;
  padding: 30px;
}
